<div class="card shadow-sm">
    <div class="card-body">
         @if(customerList != null && customerList.Count > 0){
        <div class="d-flex flex-wrap gap-2">
           
            @foreach (var c in customerList)
            {
                <button class="@GetButtonClass(c.CustomerId)" @onclick="() => SelectCustomer(c.CustomerId)">
                    @c.CustomerName
                </button>
            }
            
        </div>
        } else
        {
            <div class="text-center py-4">
                <i class="bi bi-bag fs-1 text-muted"></i>
                <p class="mt-3">No customers yet</p>
                <a class="btn btn-primary" href="/customers">Add Customers</a>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public EventCallback<int> OnCustomerSelected { get; set; }
    [Parameter] public List<Customer>? customerList { get; set; }

    private int Selected = 0;

    private async Task SelectCustomer(int id)
    {
        if (id == Selected)
        {
            await OnCustomerSelected.InvokeAsync(0);
            Selected = 0;
            return;
        }
        Selected = id;
        await OnCustomerSelected.InvokeAsync(id);
    }

    private string GetButtonClass(int id) =>
        id == Selected
        ? "btn btn-dark btn-sm"
        : "btn btn-outline-secondary btn-sm";
}
