@using IMS.WebApp.Components.Pages.Reports

@if (report != null)
{

<div class="card h-100 border-0 shadow-sm report-card hover-shadow">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-start mb-3">
            <div class="p-2 bg-light rounded">
                <i class="bi bi-file-earmark-text fs-5 text-secondary"></i>
            </div>
        </div>

            <h6 class="fw-semibold">@report.Customer.CustomerName</h6>
            <p class="text-muted small mb-0">Report Date: @report.ReportDate.ToString("MMM d, yyyy")</p>
            <button class="btn btn-sm btn-outline-primary mt-3" id="@report.ReportId">View Report</button>
    </div>
</div>
}
@code {
    [Parameter] public Reports report { get; set; } = default!;

    
}
