@page "/reports"
@rendermode InteractiveServer
<PageTitle>Reports</PageTitle>
@if (customers != null && reports != null)
{
    <div class="container ms-4 py-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h1 class="h3 fw-bold">Report List</h1>
                <p class="text-muted">Manage and add customer purchases.</p>
            </div>
            <a class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#AddReportModal">
                <i class="bi bi-plus-lg me-2"></i> Create a report
            </a>
        </div>

        <div class="d-flex flex-wrap  gap-4 mb-4">
            <div>
                <CalandarComponent />
            </div>
            <div class="flex-grow-1">
                <CustomerFilters customerList="customers" OnCustomerSelected="OnCustomerSelected" />
                
            </div>
            
        </div>

        <div class="row g-3">
            @if (FilteredReports != null)
            {
                foreach (var report in FilteredReports)
                {
                    <div class="col-sm-6 col-lg-4">
                        <ReportCard Report="report" />
                    </div>
                }
            }
        </div>
    </div>

    <AddNewReportModalComponent OnReportAdded="LoadList" OpenToast="SaveInvoice" OpenErrorToast="ErrorToast" customerList="customers"></AddNewReportModalComponent>
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">User Action Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toast-body">
            </div>
        </div>
    </div>
}
@code {

    [Inject] IJSRuntime JSRuntime { get; set; } = default!;
    [Inject] IViewCustomersByNameUseCase ViewCustomersByNameUseCase { get; set; } = default!;
    [Inject] IGetAllReportsUseCase GetAllReportsUseCase { get; set; } = default!;

    private int SelectedCustomer = 0;
    private List<Customer>? customers;
    private List<Reports>? reports;


    protected override async Task OnInitializedAsync()
    {
        customers = (await ViewCustomersByNameUseCase.ExecuteAsync()).ToList();
        reports = (await GetAllReportsUseCase.ExecuteAsync()).ToList();

    }


    private List<Reports>? FilteredReports => 
        SelectedCustomer == 0 
        ? reports 
        : reports.Where(r => r.CustomerId == SelectedCustomer).ToList();

    private void OnCustomerSelected(int id)
    {
        SelectedCustomer = id;
    }

    private async Task LoadList()
    {
        reports = (await GetAllReportsUseCase.ExecuteAsync()).ToList();
        StateHasChanged();

    }


    private async Task SaveInvoice()
    {
        await JSRuntime.InvokeVoidAsync("showSaveSuccessful");

    }

    private async Task EditProduct()
    {
        await JSRuntime.InvokeVoidAsync("showEditSuccessful");
    }

    private async Task DeleteProduct()
    {
        await JSRuntime.InvokeVoidAsync("showDeleteSuccessful");
    }

    private async Task ErrorToast()
    {
        await JSRuntime.InvokeVoidAsync("showErrorToast");

    }
}
