@inject IJSRuntime JSRuntime
@inherits LayoutComponentBase

<div class="page d-flex position-relative">
    <SideBarMenu />

    <main class="@(IsCollapsed ? "collapsed" : null) main-content">
        <article class="content px-4 py-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsCollapsed;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsCollapsed = await JSRuntime.InvokeAsync<bool>("loadSidebarState");
            StateHasChanged();
        }
    }
}

