@inherits LayoutComponentBase

<div class="page">
    <SideBarMenu />

    <main class="main-content">
        <article class="content px-3">
            @Body
        </article>
    </main>
</div>

@code {
    
}
